#logo {
  display: block;
  margin: auto;
  height: auto;
  width: 25%;
  position: relative;
  top: 130px;
}

input {
  position: relative;
  top: 155px;
  width: 45%;
  height: 35px;
  display: block;
  margin: auto;
}

.buttons {
  position: relative;
  top: 180px;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: #F0F0F0;
  color: #808080;
  left: 440px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  position: relative;
  left: 910px;
  padding: 7px;
  line-height: 50px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li.left {
  display: inline;
  position: relative;
  padding: 15px;
  right: 320px;
}

.footer li.right {
  display: inline;
  position: relative;
  padding: 15px;
  left: 320px;
}

#grid {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

#sign_in {
  background-color: #4775d1;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 7px 12px;
  font-weight: bold;
  font-size: 13px;
}

.links {
  text-decoration: none;
  color: #303030;
  font-family: Arial;
  font-size: 13px;
}

.links2 {
  text-decoration: none;
  color: #606060;
  font-family: Arial;
  font-size: 13px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  background-color: #efefef;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.buttons:hover {
  border: 1px solid #C0C0C0;
  color: black;
}